/* .calender {
} */

.calender__title {
  font-size: var(--size-2xl);
  color: var(--color-slate-900);
  margin-bottom: 0.5rem;
}

.calender__types {
  display: flex;
}

.calender__type {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  font-size: var(--size-sm);
  color: var(--color-slate-800);
  cursor: pointer;
  border: 1px solid var(--color-slate-200);
}

.calender__time-navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#calender__time-navigator {
  margin: 0.5rem 0;
  border: 1px solid var(--color-slate-400);
  border-radius: 6px;
  padding: 0.5em;
  font-size: var(--size-sm);
  outline: none;
  letter-spacing: 0.05em;
}

.calender__types-content {
  position: relative;
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.calender__type-content {
  display: block;
  flex: 1;
}

.calender__type-content-item {
  display: flex;
  flex-direction: column;
}

.calender__type-content-item-heading {
  display: flex;
  align-items: center;
  gap: 5rem;
  font-size: var(--size-sm);
  background-color: var(--color-slate-200);
  border: 1px solid var(--color-slate-200);
  padding: 0.2rem 0.5rem;
  width: 100%;
}

/* .calender__type-content-item-description {
} */

.calender__type-content-item-list {
  list-style-type: none;
  padding-left: 0;
}

.calender__type-content-item-list li {
  display: flex;
  justify-content: space-between;
}

.calender__type-content-item-list li:hover {
  background-color: var(--color-slate-200);
}

.calender__type-content-item-list li * {
  border-right: 1px solid var(--color-slate-400);
  border-bottom: 1px solid var(--color-slate-400);
  min-width: 150px;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  flex: 1;
}

.calender__type-content-item-list li:nth-child(1) * {
  border-right: 1px solid var(--color-slate-400);
  border-top: 1px solid var(--color-slate-400);
  border-bottom: 2px solid var(--color-slate-400);
  font-weight: 600;
  letter-spacing: 0.05em;
}

.calender__type-content-item-list li *:nth-child(1) {
  border-left: 1px solid var(--color-slate-400);
}

.calendar__type-start-time {
  font-size: var(--size-sm);
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.calendar__type-end-time {
  font-size: var(--size-sm);
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.calendar__type-place,
.calendar__type-event,
.calendar__type-result {
  font-size: var(--size-sm);
  text-align: center;
}

.calender__type-content-item-list.ciculars {
}

.calender__type-content-item-list.ciculars li * {
  border: none;
  font-weight: initial;
  letter-spacing: initial;
}

.calender__type-content-item-list.ciculars li {
  border-bottom: 1px solid var(--color-slate-400);
}

.calender__type-content-date.circulars {
  font-weight: 600;
  letter-spacing: 0.05em;
}

.calender__type-content-name.circulars {
}

.calender__type-content-link.circulars {
  border-left: 2px solid var(--color-slate-400);
}

.calender__type-content-link.circulars a {
}

/* xs */
@media (min-width: 475px) {
  .calender__title {
    font-size: var(--size-3xl);
    margin-bottom: 1rem;
  }
  .calender__type {
    padding: 0.4rem;
    font-size: var(--size-base);
  }

  .calender__type-content-item-heading {
    font-size: var(--size-base);
  }
  .calender__type-content-item-list li {
    font-size: var(--size-base);
  }

  .calender__time-view-svg {
    width: var(--size-3xl);
    height: var(--size-3xl);
  }
}

/* sm */
/* @media (min-width: 640px) {
} */

/* md */
/* @media (min-width: 768px) {
} */

/* lg */
@media (min-width: 1024px) {
  .calender__title {
    font-size: var(--size-4xl);
    margin-bottom: 2rem;
  }
  .calender__type {
    padding: 0.4rem;
    font-size: var(--size-lg);
  }

  .calender__type-content-item-heading {
    font-size: var(--size-lg);
  }
  .calender__type-content-item-list li {
    font-size: var(--size-lg);
  }
  .calender__type-content-item-list li div:nth-child(2)::before {
    width: 0.6rem;
    height: 0.6rem;
  }

  .calender__time-view-svg {
    width: var(--size-4xl);
    height: var(--size-4xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .calender__title {
    font-size: var(--size-5xl);
    margin-bottom: 3rem;
  }
  .calender__type {
    padding: 0.4rem;
    font-size: var(--size-xl);
  }

  .calender__type-content-item-heading {
    font-size: var(--size-xl);
  }
  .calender__type-content-item-list li {
    font-size: var(--size-xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {
} */
