.hero {
  position: relative;
}

.hero__img-navigator {
  /* border: 1px solid red; */
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 1rem;
}

.hero__img-container {
  display: flex;
}

.hero__img {
  display: none;
  opacity: 0;
  transform: scale(0.95);
  animation: vanish 1.5s;
}

.hero__img.active {
  display: block;
  transform: scale(1.2);
  opacity: 1;
  animation: appear 1.5s;
}

.hero__img.inactive {
  opacity: 0;
  transform: scale(0.95);
  animation: vanish 1.5s;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes vanish {
  from {
    display: block;
    opacity: 1;
    transform: scale(1.2);
  }

  to {
    display: none;
    opacity: 0;
    transform: scale(1.5);
  }
}

.hero__img {
  width: 100dvw;
  height: 100dvh;
  object-fit: cover;
}

.hero__quote {
  color: var(--color-slate-800);
  font-size: var(--size-base);
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.05em;
}

.hero__quote span {
  color: var(--color-red-800);
  font-weight: 600;
}

/* xs */
@media (min-width: 475px) {
  .hero__quote {
    font-size: var(--size-base);
  }

  .hero__img-navigator {
    gap: 1.5rem;
  }
}

/* sm */
/* @media (min-width: 640px) {
} */

/* md */
/* @media (min-width: 768px) {

} */

/* lg */
@media (min-width: 1024px) {
  .hero__img {
    /* height: 42rem; */
    object-fit: cover;
  }

  .hero__quote {
    font-size: var(--size-lg);
  }

  .hero__img-navigator {
    gap: 2rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .hero__quote {
    font-size: var(--size-xl);
  }

  .hero__img-navigator {
    gap: 3rem;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {
} */
