.dummy__header-size-adjuster {
  height: 60px;
}

.news__no-item {
  font-size: var(--size-base);
  font-weight: 500;
  text-align: center;
  padding: 0.5em;
  width: 100%;
  color: var(--color-slate-800);
}

.news__title {
  font-size: var(--size-2xl);
  color: var(--color-slate-900);
  margin-top: 0.5rem;
}

.news__nav-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: start;
  position: relative;
  /* border: 1px solid red; */
}

.news__nav {
  position: relative;
  margin-top: 2rem;
}

.news__nav::before {
  content: "";
  border: 1px solid var(--color-slate-400);
  position: absolute;
  /* width: 185px; */
  width: 1000px;
  left: -10%;
  top: 15%;
  transform: translateY(-50%);
}

.news__nav-menu {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.news__nav-item a div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news__nav-item a div button {
  cursor: pointer;
  width: 10px;
  height: 10px;
  border: 1px solid var(--color-slate-400);
  background-color: var(--color-slate-50);
  border-radius: 50%;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.news__nav-item a div:hover button {
  border: none;
}

.news__nav-item a div:hover button span {
  display: inline-block;
  background-color: var(--color-red-800);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.news__nav-item a div p {
  font-size: var(--size-sm);
  color: var(--color-slate-800);
}

.news__nav-item a div p {
  color: var(--color-slate-800);
}

.news__nav-item a div:hover p {
  color: var(--color-red-800);
}

.news__nav-item a div.active button {
  border: none;
}

.news__nav-item a div.active button span {
  display: inline-block;
  background-color: var(--color-red-800);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.news__nav-item a div.active p {
  font-size: var(--size-sm);
  color: var(--color-red-800);
}

.news__nav-wrapper:nth-of-type(1)
  .news__nav
  .news__nav-menu
  .news__nav-item:nth-child(even)
  div
  p {
  transform: translateY(-150%);
}

.news__nav-wrapper:nth-of-type(2)
  .news__nav
  .news__nav-menu
  .news__nav-item:nth-child(odd)
  div
  p {
  transform: translateY(-150%);
}

/* content */
/* .news__content-container {
} */

.news__content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.news__subcontent-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.news__subcontent-title {
  font-size: var(--size-base);
  color: var(--color-indigo-600);
}

.news__subcontent {
  padding: 0.5em;
  display: flex;
  gap: 1rem;
  min-width: 100px;
  max-height: 400px;
  overflow-x: auto;
  position: relative;
  overflow-y: hidden;
  scrollbar-width: 8px;
}

.news__subcontent-card {
  /* min-width: 28.6875rem; */
  min-width: calc(28.6875 / 1.1 * 1rem);
  position: relative;
}

.news__subcontent-card:hover
  .news__subcontent-card-description
  .news__subcontent-card-description-content {
  display: flex;
  animation: displayAppear 0.3s;
}

.news__subcontent-card:hover
  .news__subcontent-card-description
  .news__subcontent-card-description-preview {
  animation: displayVanish 0.3s both;
}

.news__subcontent-card:hover .news__subcontent-card-img-wrapper {
  filter: blur(5px) grayscale(0.1) opacity(0.4);
}

.news__subcontent-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s;
  max-width: 28.6875rem;
}

.news__subcontent-card-description {
  position: absolute;
  inset: 0;
  width: 100%;
}

.news__subcontent-card-description-preview {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  position: absolute;
  width: 100%;
  top: 0.5rem;
  animation: displayAppear 0.6s;
}

.news__subcontent-card-description-title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: start;
  backdrop-filter: blur(5px) opacity(0.6);
}

.news__subcontent-card-description-subtitle {
  font-size: var(--size-xs);
  letter-spacing: 0.05em;
  color: var(--color-red-800);
}

.news__subcontent-card-description-title {
  font-size: var(--size-sm);
  color: var(--color-slate-200);
  text-shadow: 0 0.5px var(--color-slate-800), -0.5px 0 var(--color-slate-800);
}

.news__subcontent-view-svg {
  color: var(--color-slate-600);
  opacity: 1;
  width: var(--size-2xl);
  height: var(--size-2xl);
}

.news__subcontent-card-description-content {
  position: absolute;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: var(--size-sm);
  padding: 0.5em;
  letter-spacing: 0.02em;
  color: var(--color-slate-800);
  animation: displayVanish 0.6s forwards;
}

/* upcoming cards */

.news__subcontent-card-upcoming {
  min-width: calc(28.6875 / 1.1 * 1rem);
  min-height: 80px;
  position: relative;
  border: 1px solid var(--color-indigo-600);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news__subcontent-card-upcoming:hover
  .news__subcontent-card-upcoming-description
  .news__subcontent-card-upcoming-description-content {
  display: flex;
  animation: displayAppear 0.6s;
}

.news__subcontent-card-upcoming:hover
  .news__subcontent-card-upcoming-description
  .news__subcontent-card-upcoming-description-preview {
  animation: displayVanish 0.6s both;
}

.news__subcontent-card-upcoming-description {
  position: absolute;
  inset: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news__subcontent-card-upcoming-description-preview {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  position: absolute;
  width: 100%;
  animation: displayAppear 0.6s;
}

.news__subcontent-card-upcoming-description-title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: start;
}

.news__subcontent-card-upcoming-description-subtitle {
  font-size: var(--size-xxs);
  letter-spacing: 0.05em;
  color: var(--color-red-800);
}

.news__subcontent-card-upcoming-description-title {
  font-size: var(--size-sm);
  color: var(--color-slate-800);
}

.news__subcontent-card-upcoming-description-view-btn {
  color: var(--color-red-800);
  opacity: 0.6;
}

.news__subcontent-card-upcoming-description-content {
  position: absolute;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: var(--size-sm);
  padding: 0.5em;
  letter-spacing: 0.02em;
  color: var(--color-slate-800);
  animation: displayVanish 0.6s forwards;
}

@keyframes displayVanish {
  from {
    display: flex;
    opacity: 1;
  }

  to {
    display: none;
    opacity: 0;
  }
}

@keyframes displayAppear {
  from {
    display: none;
    opacity: 0;
  }

  to {
    display: flex;
    opacity: 1;
  }
}

/* xs */
@media (min-width: 475px) {
  .news__title {
    font-size: var(--size-3xl);
    margin-top: 1rem;
  }

  .news__nav-container {
    gap: 1.5rem;
  }

  .news__nav {
    margin-top: 3rem;
  }

  .news__nav::before {
    width: 1000px;
    left: -50%;
    top: 18%;
  }

  .news__nav-menu {
    gap: 2rem;
  }

  .news__nav-item a div button {
    width: 15px;
    height: 15px;
  }

  .news__nav-item a div p,
  .news__nav-item a div.active p {
    font-size: var(--size-base);
  }

  .news__nav-wrapper:nth-of-type(1)
    .news__nav
    .news__nav-menu
    .news__nav-item:nth-child(even)
    a
    div
    p {
    transform: translateY(-175%);
  }

  .news__nav-wrapper:nth-of-type(2)
    .news__nav
    .news__nav-menu
    .news__nav-item:nth-child(odd)
    a
    div
    p {
    transform: translateY(-175%);
  }

  .news__nav-item a div:hover button span,
  .news__nav-item a div.active button span {
    width: 10px;
    height: 10px;
  }

  /* content */
  .news__subcontent-wrapper {
    gap: 1rem;
  }

  .news__subcontent-title {
    font-size: var(--size-lg);
  }

  .news__subcontent {
    gap: 1.5rem;
  }

  .news__subcontent-card {
    min-width: calc(28.6875 / 1.02 * 1rem);
  }

  .news__subcontent-card-description-subtitle {
    font-size: var(--size-base);
  }

  .news__subcontent-card-description-title {
    font-size: var(--size-base);
  }

  .news__subcontent-card-description-content {
    font-size: var(--size-base);
  }

  /* upcoming cards */
  .news__subcontent-card-upcoming {
    min-height: 90px;
    min-width: calc(28.6875 / 1.02 * 1rem);
  }

  .news__subcontent-card-upcoming-description-preview {
    padding: 1em;
  }

  .news__subcontent-card-upcoming-description-subtitle {
    font-size: var(--size-xs);
  }

  .news__subcontent-card-upcoming-description-title {
    font-size: var(--size-base);
  }
}

/* sm */
/* @media (min-width: 640px) {
  } */

/* md */
@media (min-width: 768px) {
  .dummy__header-size-adjuster {
    height: 170px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .dummy__header-size-adjuster {
    height: 200px;
  }

  .news__title {
    font-size: var(--size-4xl);
    margin-top: 2rem;
  }

  .news__nav-container {
    gap: 2rem;
  }

  .news__nav {
    margin-top: 3.5rem;
  }

  .news__nav::before {
    width: 1000px;
    left: -10%;
    top: 21%;
  }

  .news__nav-menu {
    gap: 4rem;
  }

  .news__nav-item a div button {
    width: 20px;
    height: 20px;
  }

  .news__nav-item a div p,
  .news__nav-item a div.active p {
    font-size: var(--size-lg);
  }

  .news__nav-wrapper:nth-of-type(1)
    .news__nav
    .news__nav-menu
    .news__nav-item:nth-child(even)
    a
    div
    p {
    transform: translateY(-180%);
  }

  .news__nav-wrapper:nth-of-type(2)
    .news__nav
    .news__nav-menu
    .news__nav-item:nth-child(odd)
    a
    div
    p {
    transform: translateY(-180%);
  }

  .news__nav-item a div:hover button span,
  .news__nav-item a div.active button span {
    width: 15px;
    height: 15px;
  }

  /* content */
  .news__subcontent-wrapper {
    gap: 2rem;
  }
  .news__subcontent-title {
    font-size: var(--size-xl);
  }
  .news__subcontent {
    gap: 2rem;
  }

  .news__subcontent-card {
    min-width: calc(28.6875 / 1 * 1rem);
  }

  .news__subcontent-card-description-subtitle {
    font-size: var(--size-lg);
  }

  .news__subcontent-card-description-title {
    font-size: var(--size-lg);
    /* text-shadow: 0 1px var(--color-slate-800), -1px 0 var(--color-slate-800); */
  }

  .news__subcontent-card-description-content {
    font-size: var(--size-lg);
  }

  /* upcoming */
  .news__subcontent-card-upcoming {
    min-height: 100px;
    min-width: calc(28.6875 / 1 * 1rem);
  }

  .news__subcontent-card-upcoming-description-preview {
    padding: 1.5em;
  }

  .news__subcontent-card-upcoming-description-subtitle {
    font-size: var(--size-sm);
  }

  .news__subcontent-card-upcoming-description-title {
    font-size: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  .dummy__header-size-adjuster {
    height: 230px;
  }

  .news__title {
    font-size: var(--size-5xl);
    margin-top: 3rem;
  }

  .news__nav-container {
    gap: 3rem;
  }

  .news__nav {
    margin-top: 4rem;
  }

  .news__nav::before {
    /* width: 310px; */
    width: 1000px;
    left: -10%;
    top: 22%;
  }

  .news__nav-menu {
    gap: 5rem;
  }

  .news__nav-item a div button {
    width: 25px;
    height: 25px;
  }

  .news__nav-item a div p,
  .news__nav-item a div.active p {
    font-size: var(--size-xl);
  }

  .news__nav-wrapper:nth-of-type(1)
    .news__nav
    .news__nav-menu
    .news__nav-item:nth-child(even)
    a
    div
    p {
    transform: translateY(-197%);
  }

  .news__nav-wrapper:nth-of-type(2)
    .news__nav
    .news__nav-menu
    .news__nav-item:nth-child(odd)
    a
    div
    p {
    transform: translateY(-197%);
  }

  .news__nav-item a div:hover button span,
  .news__nav-item a div.active button span {
    width: 20px;
    height: 20px;
  }

  /* content */
  .news__subcontent-wrapper {
    gap: 3rem;
  }
  .news__subcontent-title {
    font-size: var(--size-2xl);
  }
  .news__subcontent {
    gap: 3rem;
  }

  .news__subcontent-card-description-subtitle {
    font-size: var(--size-xl);
  }

  .news__subcontent-card-description-title {
    font-size: var(--size-xl);
  }

  .news__subcontent-card-description-content {
    font-size: var(--size-xl);
  }

  /* upcoming */
  .news__subcontent-card-upcoming {
    min-height: 110px;
  }

  .news__subcontent-card-upcoming-description-title-wrapper {
    gap: 1rem;
  }

  .news__subcontent-card-upcoming-description-preview {
    padding: 2em;
  }

  .news__subcontent-card-upcoming-description-subtitle {
    font-size: var(--size-base);
  }

  .news__subcontent-card-upcoming-description-title {
    font-size: var(--size-xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {
  } */
