/* xs */
/* @media (min-width: 475px) {
} */

/* sm */
/* @media (min-width: 640px) {
} */

/* md */
/* @media (min-width: 768px) {
} */

/* lg */
/* @media (min-width: 1024px) {
} */

/* xl */
/* @media (min-width: 1280px) {
} */

/* 2xl */
/* @media (min-width: 1536px) {
} */

h2,
h3 {
  color: var(--color-slate-900);
}

.btn {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: var(--color-rose-600);
  color: var(--color-slate-50);
  padding: 0.5em 1em;
  border-radius: 6px;
  box-shadow: 2px 2px 15px oklch(0.586 0.253 17.585);
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 3px 8px 15px oklch(0.586 0.253 17.585);
}

.radial-btn {
  border: 1px solid var(--color-slate-400);
  width: var(--size-2xl);
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--size-xxs);
  color: var(--color-slate-600);
  transition: color 0.3s, border-color 0.3s;
}

.radial-btn.border__bold {
  border: 2px solid var(--color-slate-400);
}

.radial-btn.text__bold {
  font-weight: 600;
  color: var(--color-slate-900);
}

.radial-btn:hover,
.radial-btn.active,
.radial-btn:focus {
  color: var(--color-slate-900);
  border-color: var(--color-slate-800);
}

.radial-btn.active {
  color: var(--color-slate-900);
  border-color: var(--color-red-800);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.container__2 {
  height: 2vh;
}

.container__5 {
  height: 5vh;
}

.container__10 {
  height: 10vh;
}

.section_sm {
  margin-top: 2rem;
}

.section_md {
  margin-top: 4rem;
}

.section {
  margin-top: 5rem;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }

  .radial-btn {
    width: var(--size-3xl);
    font-size: var(--size-xs);
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .section {
    margin-top: 10rem;
  }

  .radial-btn {
    width: var(--size-4xl);
    font-size: var(--size-sm);
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .radial-btn {
    width: var(--size-5xl);
    font-size: var(--size-base);
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
